{% extends 'base.html' %}

{% block title %}
Connexion
{% endblock %}
{%block navbar_title %}
Connexion
{% endblock %}
{%block titre_barre%}
Connexion
{% endblock %}


{% block content %}
  <div class="content-login">
    <div id="formulaire-border">
      <div id="formulaire">
      <img id="logo" src="{{url_for('static', filename='imgs/logo-Starkids-2.svg')}}" alt="logo-starkids"/>
      <form method="post" class="login-form">
        <label class="police-titre" for="email"></label>
        <input name="email" id="email" class="police-titre" placeholder="Email" required>
        <label for="password"></label>
        <input type="password" name="password" id="password" class="police-titre" placeholder="Mot de passe" required>
        <input type="submit" id="connexion" class="police-titre" value="Connexion">
      </form>
      <ul id="autre">
        <li class="police-titre" id="inscription"><a id="inscription-2" href="{{ url_for('auth.register') }}">S'inscrire</a>
        <li class="police-titre" id="oublie"><a id="oublie-2" href="">Mot de passe oublié ?</a>
      </ul>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
    
  </div>
{% endblock %}