{% extends 'base.html' %}

{% block title %}
S'inscrire
{% endblock %}
{% block titre_barre %}
S'inscrire
{% endblock %}

{% block content %}
  <div class="content-register">
    <div id="formulaire-2-inscription">
      <div id="formulaire-inscription">
      <img id="logo" src="{{url_for('static', filename='imgs/logo-Starkids-2.svg')}}" alt="logo-starkids"/>
      <form method="post" class="register-form">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Mot de passe" required>
        <label for="nom"></label>
        <input type="text" name="name" id="name" placeholder="Nom">
        <label for="prenom"></label>
        <input type="text" name="first_name" id="first_name" placeholder="Prénom">
        <label for="telephone"></label>
        <input type="text" name="telephone" id="numero_telephone" placeholder="Numéro de téléphone" required>
        <input type="submit" id="inscrire" value="S'inscrire">
      </form>
      
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}