{% extends 'base.html' %}

{% block title %}
Camps
{% endblock %}
{%block navbar_title %}
Camps
{% endblock %}
{%block titre_barre%}
Connexion
{% endblock %}


{% block content %}

<div class="cartes">
    {% for camp in g.camps %}
        <div class="carte-border">
            <div class="carte">
                <div class="barre-camp lieu">
                    <p class="police-titre title-barre">
                        Lieu
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Lieu']}}
                    </p>
                </div>

                <div class="barre-camp date">
                    <p class="police-titre title-barre">
                        Date
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre data-date">
                        {{camp['Date_']}}
                    </p>
                        
                </div>

                <div class="barre-camp prix-1">
                    <p class="police-titre title-barre">
                        Prix
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Prix']}}
                    </p>
                        
                </div>

                <div class="carte-camp">
                    <iframe class="carte-adresse" src="{{camp['adresse']}}" width="90%" >
                    </iframe>
                </div>

                <div class="barre-camp prix-2">
                    <p class="police-titre title-barre">
                        Prix
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Prix']}}
                    </p>
                        
                </div>

                <div class="barre-camp participants">
                    <p class="police-titre title-barre">
                        Participants
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    {% if g.nb[camp['Id_camp']] %}
                        <p class="police-titre">
                            {{g.nb[camp['Id_camp']]}}
                        </p>
                    {% else %}
                    <p class="police-titre">
                        0
                    </p>
                    {% endif %}
                </div>
                {% if g.user%}
                    {% if g.role and g.role['Rôle'] == 'admin' %}
                    <a class="participation" href="{{ url_for('admin.modifier', Id_camp = camp['Id_camp'])}}">
                        <p class="police-titre title-barre">
                            Modifier
                        </p>
                    </a>
                    {% else %}
                        <a class="participation" href="{{ url_for('camp.participer', Id_parent = g.user['Id_parent'], Id_camp = camp['Id_camp'])}}">
                            <p class="police-titre title-barre">
                                Participer au camp
                            </p>
                        </a>
                    {% endif %}

                {% else %}
                    <a class="participation" href="{{ url_for('auth.login')}}">
                        <p class="police-titre title-barre">
                            Participer au camp
                        </p>
                    </a>
                {% endif %}
            </div>
        </div>
                
                
    {% else %}
        <p>Aucun camp disponible.</p>
    {% endfor %}
        
        
</div>
{% endblock %}