{% extends 'base.html' %}

{% block title %}
Camps
{% endblock %}
{%block navbar_title %}
Camps
{% endblock %}
{%block titre_barre%}
Connexion
{% endblock %}


{% block content %}
    {% for camp in g.camps %}
        <div class="cartes">
            
            <div class="barre-camp">
                <p class="police-titre">
                    Lieu
                </p>
                <img src="" alt="">
                <p>
                    {{camp['Lieu']}}
                </p>
            </div>

            <div>
                <div class="barre-camp">
                    <p class="police-titre">
                        Date
                    </p>
                    <img src="" alt="">
                    
                </div>
            </div>

            <div>
                <div class="barre-camp">
                    <p class="police-titre">
                        Adresse
                    </p>
                    <img src="" alt="">
                    <iframe class="carte-adresse" src="{{camp['adresse']}}" >
                    </iframe>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun camp disponible.</p>
    {% endfor %}
{% endblock %}