{% extends 'base.html' %}

{% block title %}
Camps
{% endblock %}
{%block navbar_title %}
Camps
{% endblock %}
{%block titre_barre%}
Connexion
{% endblock %}


{% block content %}

<div class="cartes">
    {% for camp in g.camps %}
        <div class="carte-border">
            <div class="carte">
                <div class="barre-camp">
                    <p class="police-titre title-barre">
                        Lieu
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Lieu']}}
                    </p>
                </div>

                <div class="barre-camp-date">
                    <p class="police-titre title-barre">
                        Date
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Date_']}}
                    </p>
                        
                </div>

                <div class="barre-camp">
                    <p class="police-titre title-barre">
                        Prix
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    <p class="police-titre">
                        {{camp['Prix']}}
                    </p>
                        
                </div>

                <div class="carte-camp">
                    <iframe class="carte-adresse" src="{{camp['adresse']}}" width="90%" >
                    </iframe>
                </div>

                <div class="barre-camp participants">
                    <p class="police-titre title-barre">
                        Participants
                    </p>
                    <img src="{{url_for('static', filename='imgs/barre-camps.svg')}}" alt="barre qui sépare le champ de gauche et celui de droite">
                    {% if camp['Nombre de participants']%}
                        <p class="police-titre">
                            {{camp['Nombre de participants']}}
                        </p>
                    {% else %}
                    <p class="police-titre">
                        0
                    </p>
                    {% endif %}
                </div>

                <div class="barre-camp participation">
                    <p class="police-titre title-barre">
                        Participation au camp
                    </p>

                </div>
            </div>
        </div>
                
                
    {% else %}
        <p>Aucun camp disponible.</p>
    {% endfor %}
        
        
</div>
{% endblock %}