{% extends 'base.html' %}

{% block navbar_title %}
  Compte
{% endblock %}

{% block content %}
<div class="content-inscr">
  <img id="forme-inscr" src="{{url_for('static', filename='imgs/forme-page-inscription.svg')}}" alt="forme-page-inscription">
  <div id="menu-inscr">
    <h2 id="title-inscr" class="police-titre">Mes enfants</h2>
    <div id="formulaire-inscr-enfant-border">

        <div id="formulaire-inscr-enfant">
            <form method="post" class="inscr-enfant">
                <h3 class="inscription-form-title-1 police-titre">Informations générales sur l'enfant</h3>
                <h4 class="inscription-form-title-2 police-titre">Modifiez le profil de votre enfant</h4>

                <div id="info-enfant">
                  <input name="prenom" class="prenom form" class="police-titre" placeholder="Prénom" value="{{personne['Prenom']}}" required>

                  <input name="nom" class="nom form" class="police-titre" placeholder="Nom" value="{{personne['Nom']}}" required>

                  <input type="date" name="date-de-naissance" class="date-de-naissance form" class="police-titre" placeholder="Date de naissane" value="{{personne['Date_de_naissance']}}" required>

                  <div id="sexe-box">
                    <label class="police-titre inscr-text sexe" for="masculin">Sexe:</label>

                    <label class="police-titre inscr-text garcon-fille" for="masculin">Garçon:</label>
                    <input type="radio" id="masculin" class="police-titre check" name="sexe" value="Garçon" 
                    {% if personne['Sexe'] == 'Garçon' %}checked{% endif %} required>

                    <label class="police-titre inscr-text garcon-fille" for="feminin">Fille:</label>
                    <input type="radio" id="feminin" class="police-titre check" name="sexe" value="Fille"
                    {% if personne['Sexe'] == 'Fille' %}checked{% endif %} required>
                    </div>

                    <input type="text" name="assurance" class="assurance form" class="police-titre" placeholder="Assurance" value="{{enfant['Assurance']}}" required>

                    <input type="text" name="assure" class="assure form" class="police-titre" placeholder="N° d'assuré(e)s" value="{{enfant['Numéro_assuré']}}" required>
                  </div>


                <div id="sante">
                  <h4 class="inscription-form-title-2 police-titre">Santé</h4>

                  <div id="sante-questionnaire">
                    <div class="question-container">
                      <label class="police-titre inscr-text question-text" for="cardiaque">Problèmes cardiaques:</label>

                      <label class="police-titre inscr-text" for="cardiaque">oui</label>
                      <input type="radio" name="cardiaque" class="question-oui check" value="Problèmes cardiaques" 
                      {% if enfant['Problème_cardiaque'] != '' %}checked{% endif %} required>

                      <label class="police-titre inscr-text" for="cardiaque">non</label>
                      <input type="radio" name="cardiaque" class="question-non check" value="" 
                      {% if enfant['Problème_cardiaque'] == '' %}checked{% endif %} required>

                      <input type="text" name="cardiaque-info" placeholder="Informations importantes ?" class="police-titre info" {% if enfant['Problème_cardiaque'] != '' %} value="{{enfant['Problème_cardiaque']}}" style="display: block;" {%endif %} >
                    </div>


                    <div class="question-container">
                      <label class="police-titre inscr-text question-text" for="respiratoire">Problèmes respiratoires:</label>

                      <label class="police-titre inscr-text" for="respiratoire">oui</label>
                      <input type="radio" name="respiratoire" class="question-oui check" value="Problèmes respiratoires" 
                      {% if enfant['Problème_respiratoire'] != '' %}checked{% endif %} required>

                      <label class="police-titre inscr-text" for="respiratoire">non</label>
                      <input type="radio" name="respiratoire" class="question-non check" value="" 
                      {% if enfant['Problème_respiratoire'] == '' %}checked{% endif %} required>

                      <input type="text" name="respiratoire-info" placeholder="Informations importantes ?"  class="police-titre info" {% if enfant['Problème_respiratoire'] != '' %} value="{{enfant['Problème_respiratoire']}}" style="display: block;" {% endif %}>
                    </div>


                    <div class="question-container">
                      <label class="police-titre inscr-text question-text" for="medicament">Produits/médicaments à prendre:</label>

                      <label class="police-titre inscr-text" for="medicament">oui</label>
                      <input type="radio" name="medicament" class="question-oui check" value="médicaments" 
                      {% if enfant['Médicament'] != '' %}checked{% endif %} required>

                      <label class="police-titre inscr-text" for="medicament">non</label>
                      <input type="radio" name="medicament" class="question-non check" value="" 
                      {% if enfant['Médicament'] == '' %}checked{% endif %} required>

                      <input type="text" name="medicament-info" placeholder="Informations importantes ?" class="police-titre info" {% if enfant['Médicament'] != '' %} value="{enfant['Médicament']}" style="display: block;" {% endif %}>
                    </div>


                    <div class="question-container">
                      <label class="police-titre inscr-text question-text" for="alimentaire">Restrictions alimentaires:</label>

                    <label class="police-titre inscr-text" for="alimentaire">oui</label>
                    <input type="radio" name="alimentaire" class="question-oui check" 
                    {% if enfant['Régime_alimentaire'] != '' %}checked{% endif %} required>

                    <label class="police-titre inscr-text" for="alimentaire">non</label>
                    <input type="radio" name="alimentaire" class="question-non check" 
                    {% if enfant['Régime_alimentaire'] == '' %}checked{% endif %} required>
                    <input type="text" name="alimentaire-info" placeholder="Informations importantes ?" class="police-titre info" {% if enfant['Régime_alimentaire'] != '' %} value="{{personne['Régime_alimentaire']}}" style="display: block;" {% endif %} >
                    </div>
                  </div>
              </div>

              <div id="verification">
                <h4 class="inscription-form-title-2 police-titre verification-text">Vérification</h4>

                <div id="condition">
                  <div id="condition-text">
                    <label class="police-titre inscr-text" for="verification">En cochant cette case, je confirme avoir pris connaissance et approuvé les Conditions Générales qui s'appliquent au(x) stage(s)</label>
                    <input type="checkbox" name="condition" id="condition" class="check" required>
                  </div>
                <input type="submit" id="creer" class="police-titre" value="Modifier">
                </div>
              </div>
              </form>
        </div>

    </div>
    
      

    
  </div>
</div>  
{% endblock %}