{% extends 'base.html' %}

{% block navbar_title %}
  Compte
{% endblock %}

{% block content %}
<div class="content-user">
  <img id="forme-user" src="{{url_for('static', filename='imgs/forme-page-user.svg')}}" alt="forme-page-user">
  <div id="menu-user">
      <h2 id="title-user" class="police-titre">Mes enfants</h2>

      <div id="menu-enfants">
          {% if enfants%}
              {% for personne in personnes %}
                <div class="carte-enfant">
                  <div class="initial">
                    <p class="police-titre lettre">{{personne['Prenom'][0].upper()}}</p>
                  </div>

                  <div class="nom-enfant">
                    <p class="police-titre">{{personne['Prenom']}} {{personne['Nom']}}</p>
                  </div>

                  <div class="modification-enfant">
                    <a href="{{ url_for('inscr.enfant') }}" class="police-titre">
                      Modifier le profil de votre enfant
                    </a>
                  </div>
                </div>
              {% endfor %}
            </ul>
            <a href="{{ url_for('inscr.enfant') }}">
              <img id="bouton-ajouter-enfant" src="{{url_for('static', filename='imgs/plus.svg')}}" alt="bouton pour ajouter un enfant">
            </a>
          {% else %}
            <a href="{{ url_for('inscr.enfant') }}">
              <img id="bouton-ajouter-enfant" src="{{url_for('static', filename='imgs/bouton-ajouter-enfant.svg')}}" alt="bouton pour ajouter un enfant">
            </a>
          {% endif %}
      </div>

    <div id="log-out-user">
        <a href="{{ url_for('auth.logout') }}">
            <img src="{{url_for('static', filename='imgs/symbole-log-out.svg')}}" alt="symbole de déconnexion">
            <p class="log-out-texte police-titre">Déconnexion</p>
        </a>
    </div>
  </div>
</div>  
{% endblock %}