/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: #D9D9D9 !important;
    overflow-x: hidden;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/

@font-face {
  font-family: "oceanicdrift";
  src: url("/static/fonts/oceanicdriftcond.ttf") format("truetype");
}

@font-face {
  font-family: "oceanicdriftbold";
  src: url("/static/fonts/oceanicdriftboldexpand.ttf") format("truetype");
}

.police-titre{
  font-family: oceanicdrift;
}

/*header*/

.nav-link.police-titre {
  color: white !important;
  font-size: clamp(12px,2vw,34px);
}

.collapse.show .nav-link{
  color: #00210A !important;
  font-size: 20px;
}

.collapse.show .navbar-nav{
  display: flex;
  align-items: center;
}

.police-titre-bold{
  font-family: oceanicdriftbold;
}

header{
    height: 100px;
}

#header-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#header-nav-logo>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav-logo{
  box-sizing: border-box;
  width: 20vw;
  margin-left: 3vw;
}

.nav-item {
  white-space: nowrap;
}


button{
  width: 50px;
}

.navbar-toggler{
  display: flex;
  align-content: center;
  align-items: center;
  filter: invert(1000%);
  border-width: 2px !important;
  border-style: dashed;
}

.navbar_title{
  position: absolute;
  text-align: center;
  justify-content: center;
  font-size: clamp(15px, 10vw, 134px);
  letter-spacing: 0.5vw;
  font-weight: bolder;
  color: #ffffff;
  width: 100vw;
  margin-top: 20%;
  right: -21%;
  user-select: none;
}

@media(max-width:800px) {
  .navbar_title{
    display: none;
  }
  
}

.navbar-nav{
  display: flex;
  margin-left: clamp(75px,25vw,475px);
  margin-top: 1.5%;
  gap: 10%;
}


.navbar-nav li{
  text-align: right;
}

.container-fluid {
  position: relative;
}

#header-nav-forme{
  position: absolute;
  top: -15%;
  right: -3%;
  z-index: -1;
  width: 75vw;
}

#header-nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}

#header-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
}

/*connexion*/

.content-login{
  margin-top: 15%;
  margin-bottom: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  margin-bottom: 1%;
}

@media(max-width:400px){
  #formulaire{
    border-radius: 20px !important;
  }
  
}

#formulaire{
  background-color: #34693F;
  border-radius: 15px;
  width: 94%;
  height: 94%;
  
}

#formulaire-border{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00210A;
  border-radius: 30px;
  width: 80%;
  margin-top: 3vh;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#logo{
  position: absolute;
  left: 40%;
  width: 20vw;
}

#email{
  margin-top: 10vw !important;
}

.login-form input{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  width: 80%;
  height: clamp(35px, 5vw, 75px);
  padding: 2%;
  border: 3px solid #00210A;
  border-radius: 10px;
  font-size: 2vw;

}

.login-form input::placeholder{
  color: #00210A;
  text-decoration: underline;
}

.login-form input{
  margin-top: 3vw;;

}

@media(max-width:800px) {
  
  .login-form input{
    font-size: 2vw !important;
  }
  .login-form input[type = "submit"]{
    padding: none;
  }
  #connexion{
    letter-spacing: 0.1vw;
  }
}

.login-form input[type="submit"] {
  margin-left: 70%;
  bottom: 12%;
  width: 20%;
  background-color:#00210A;
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.1vw;
  font-size: 3vw;
  cursor: pointer;
}


#autre{
  display: flex;
  justify-content: space-between;

}

#inscription{
  margin-left: 7%;
}

#inscription-2{
  color: #ffffff;
  font-size: 2vw;
  text-decoration: none;
}

#oublie{
  margin-right: 10.5%;
}

#oublie-2{
  color: #ffffff;
  font-size: 2vw;
  text-decoration: none;
}


/*inscription*/


.content-register{
  margin-top: 15%;
  margin-bottom: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#formulaire-inscription{
  background-color: #34693F;
  border-radius: 15px;
  width: 94%;
  height: 94%;
}

#formulaire-border-inscription{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00210A;
  border-radius: 30px;
  width: 80%;
  margin-top: 3vh;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#logo-inscription{
  position: absolute;
  left: 40%;
  width: 20vw;
}

#email{
  margin-top: 10vw !important;
}
.register-form input:not(#inscrire){
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  width: 80%;
  height: clamp(35px, 5vw, 75px);
  padding: 2%;
  border: 3px solid #00210A;
  border-radius: 10px;
  font-size: 2vw;

}
.register-form input{
  margin-top: 3vw;;

}

@media(max-width:800px) {
  
  .register-form input:not(#inscrire){
    font-size: 3vw !important;
  }
}

.register-form input::placeholder{
  color: #00210A;
  text-decoration: underline;
}

.register-form input[id="inscrire"]{
  font-family: oceanicdrift;
  color: #ffffff;
  background-color: #00210A;
  height: clamp(35px, 5vw, 75px);
  width: 15%;
  border: 3px solid #00210A;
  border-radius: 10px;
  font-size: 2vw;
  margin-left: 75%;
  letter-spacing: 0.08vw;
  margin-bottom: clamp(35px, 5vw, 75px);;
}

/*index*/

@media(max-width:800px){
  #image-joueur{
    display: none;
  }
  
  #content-text{
    display: flex;
    position: relative;
    z-index: 2;
    margin: auto;
    width: 90% !important;
    text-align: center !important;
  }

  #content-text-h1{
    width: 80vw;
    margin: auto;
    margin-right: 5vw !important;
    font-size: 7vw !important;
    white-space: wrap !important;
    text-align: center !important;
  }
  #content-text-p{
    font-size: 4vw !important;
    width: 60% !important;
    margin: auto;
    text-align: center !important;
  }
}


#image-joueur{
  z-index: 6;
  margin-right: -15vw;
  margin-top: 5%;
}

.content-index{
  display: flex;
  justify-content: flex-start;
}

#content-text{
  display:flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-top: 13%;
}
#content-text h1{
  font-size: clamp(14px, 2.5vw, 90px);
  letter-spacing: clamp(0.5px,0.2vh,2px);
  white-space: nowrap;
  
}

#content-text p{
  font-size: clamp(12px, 1.5vw, 21px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 30vw;
  text-align: left;
  gap: 2vh;
}

/*content user*/
.content-user{
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 50%;
  height: 100%;
}

#forme-user{
  position: absolute;
  transform: scale(1.1);
  width: 100%;
}

#menu-user{
  width: 100%;
  z-index: 2;
}

#menu-enfants{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

#title-user{
  margin-top: 1vw;
  margin-bottom: 3%;
  font-size: clamp(13px, 5vw, 90px);
  color: white;
  white-space: nowrap;
  text-align: center;
}

#enfants{
  width: 100%;
  height: 180%;
  margin-top: 5%;
  margin-left: 5%;

}
#bouton-ajouter-enfant{
  display: inline-block;
  width: 6vw;
}

#log-out-user{
  justify-self: flex-end;
  margin-right: 5vw;
}

#log-out-user a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

#log-out-user img{
  width: 5vw;
}

#log-out-user p{
  margin-bottom: 0 !important;
  color: #ffffff;
  font-size: clamp(14px, 3vw, 90px);
}

.cartes-enfants{
  display: flex;
  flex-direction: row;
}

.carte-enfant{
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 6vw;
  background-color: #34693F;
  border-radius: 0.75vw;
  align-items: center;
  margin-bottom: 3.5%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.lettre{
  font-size: 4vw;
  color: #34693F;
  margin-top: -25%;
}

.initiale{
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-left: 5%;
  transform: translateX(0);
  transform: translateY(0);
  transition: all 0.5s ease;
}

.nom-enfant{
  display: flex;
  font-size: 2.3vw;
  color: #D9D9D9;
  margin-left: 5%;
  margin-top: 4%;
  flex-wrap: nowrap;
  transition: all 0.5s ease;
}

.modification-enfant{
  display: none;
  transition: all 0.5s ease;
}

/* carte enfant cliquée*/

.carte-enfant.cliquée{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 17.5vw;
  background-color: #34693F;
  border-radius: 0.75vw;
  align-items: center;
  margin-bottom: 3.5%;
  transition: all 0.5s ease;
  cursor: pointer;
}

.initiale.cliquée{
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: #D9D9D9;
  flex-wrap: wrap;
  margin-top: 5%;
  transition: all 0.5s ease;

}

.nom-enfant.cliquée{
  display: flex;
  height: 2vw;
  margin-top: 2% !important;
  margin-bottom: 3% !important;
  transition: all 0.5s ease;
}

.nom-enfant.cliquée p{
  color:#D9D9D9;
  font-size: 2vw;
}

.modification-enfant.cliquée{
  display: flex;
  width: 85%;
  height: 37.5%;
  background-color: #D9D9D9;
  border-radius: 0.75vw;
  align-items: center;
  margin-top: 2.5%;
  transition: all 0.5s ease;
}

.modification-enfant.cliquée a{
  text-decoration: none;
  color:#34693F;
  font-size: 2vw;
  text-align: center;
  line-height: normal;
}


/*content inscription enfant*/
.content-inscr{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 20%;
  height: 100%;
}

#forme-inscr{
  position: absolute;
  transform: scale(1.1);
  width: 100%;
}

#menu-inscr{
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-inscr{
  margin-top: 1vw;
  margin-bottom: 3%;
  font-size: clamp(13px, 5vw, 90px);
  color: white;
  white-space: nowrap;
  text-align: center;
}

#formulaire-inscr-enfant-border{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34693F;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}

#formulaire-inscr-enfant{
  display: flex;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 15px;
  width: 97%;
  height: 97%;
}

.inscription-form-title-1{
  margin-top: 4vw;
  color: black;
  font-size: 4vw;
}

.inscription-form-title-2{
  color: #565555;
  font-size: 2.5vw;
  margin-top: 5%;
}

#info-enfant{
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#sante{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sante-questionnaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question-container{
  width: 40%;
  margin-top: 5%;
}

.question-text{
  margin-left: 6%;
}

.form{
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  height: clamp(35px, 2.5vw, 75px);
  width: 40%;
  padding: 2%;
  border: 0.4vw solid #34693F;
  border-radius: 10px;
  font-size: 1.5vw;
  margin-top: 5vw;
}

.inscr-text{
  font-size: 1.5vw;
}

#sexe-box{
  width: 40%;
  height: 2.5vw;
  display: flex;
  align-items: center;
  margin-top: 5.6vw;
}

.inscr-text.sexe{
  margin-left: 6.1%;
}

.inscr-text.garcon-fille{
  margin-left: 20%;
}



.info{
  display: none;
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  height: clamp(35px, 4.5vw, 75px) !important;
  width: 100%;
  padding: 4%;
  border: 0.4vw solid #34693F;
  border-radius: 10px;
  font-size: 1.5vw;
  margin-top: 10%;
}

.inscr-enfant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#verification{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

#condition{
  display: flex;
  align-items: center;
  margin-top: 5%;
}

#condition-text{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}


#creer{
  margin-left: 12.5%;
  width: 20vw;
  height: 6vw;
  border-radius: 15px;
  background-color: #34693F;
  border: none;
  color: #ffffff;
  font-size: 4vw;
}


/* content admin */

#content-admin{
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 30%;
  height: 100%;
}

#forme-admin{
  position: absolute;
  transform: scale(1.1);
  width: 100%;
}

#menu-admin{
  width: 100%;
  z-index: 2;
}

#content-admin h2{
  margin-top: 1vw;
  margin-bottom: 3%;
  font-size: clamp(13px, 5vw, 90px);
  color: white;
  white-space: nowrap;
  text-align: center;
}

#boutons-admin{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#boutons-admin a{
  text-decoration: none;
  width: 23vw;
  height: 23vw;
}

.carte-admin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 23vw;
  border-radius: 4vw;
  background-color: #34693F;
  justify-content: center;
  align-items: center;
}

.carte-admin p{
  color: #ffffff;
  font-size: clamp(14px, 5vw, 90px);
  text-align: center;

}

#log-out{
  justify-self: flex-end;
  margin-right: 5vw;
  margin-bottom: 7.5%;
}

#log-out a{
  display: flex;
  align-items: center;
  text-decoration: none;

}

#log-out img{
  width: 5vw;
}

#log-out p{
  margin-bottom: 0 !important;
  color: #ffffff;
  font-size: clamp(14px, 3vw, 90px);
}

/*content publish */
#content-publish{
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 10%;
}

#forme-publish{
  z-index: -1;
  position: absolute;
  transform: scale(1.1);
  width: 100%;
}

#menu-publish{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}

#content-publish h2{
  margin-top: 1vw;
  margin-bottom: 3%;
  font-size: clamp(13px, 5vw, 90px);
  color: white;
  white-space: nowrap;
  text-align: center;
}

#bouton-retour{
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
}

#bouton-retour a {
  display: inline-block;
}

#icone-retour {
  width: 15vw;
  transition: transform 0.2s ease;
}

#icone-retour:hover {
  transform: scale(1.1);
}


.titre-publish-form{
  font-family: oceanicdriftbold;
  display: flex;
  color: black;
  font-size: 4.5vw;
  letter-spacing: 0.01vw;
  justify-content: center;
}

#Publish-form{
  z-index: 2;
  background-color: #D9D9D9;
  border-radius: 15px;
  width: 96%;
  height: 96%;
}

#Publish-border{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#34693F;
  border-radius: 30px;
  width: 80%;
  margin-top: 3vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#Publish-form input:not(#Envoyer, #date, #prix){
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  width: 80%;
  height: 3vw;
  padding-left: 1.5%;
  border: 0.33vw solid #34693F;
  border-radius: 10px;
  font-size: 1.5vw;

}

#Publish-form input::placeholder{
  color: black;
}

#publish-form-style{
  display: flex;
  justify-content: space-between;
}

#publish-form-style input{
  font-family: oceanicdrift;
  background-color: #D9D9D9;
  width: 37.5%;
  height: 3vw;
  border: 0.33vw solid #34693F;
  padding-left: 1.5%;
  border-radius: 10px;
  font-size: 1.5vw;
}

#publish-form-style #prix{
  margin-right: 10%;
}

#publish-form-style #date{
  margin-left: 10%;
}

#Publish-form input{
  margin-top: 3vw;
}

#Publish-form #Envoyer{
  font-family: oceanicdrift;
  background-color:#34693F;
  width: 25%;
  height: 5vw;
  border: #34693F;
  border-radius: 20px;
  font-size: 2.5vw;
  color: #ffffff;
  margin-left: 37.5%;
  margin-bottom: 5%
}

/* content camps*/

.cartes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.1%;
  margin-top: 25%;
}

.carte-border{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00210A;
  margin-bottom: 5%;
  width: 20vw;
  border-radius: clamp(10px, 2.5vw, 40px);
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  box-shadow: 0.5vw 0.5vw 0.3vw rgb(136, 133, 133);
  transition: all 0.3 ease;
}

.carte-border{
  cursor: pointer;
}

.carte{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34693F;
  width: 94%;
  height: 26vw;
  border-radius: clamp(10px, 2vw, 30px);
  transition: all 0.3 ease;
}

.barre-camp{
  display: flex;
  align-items: center;
  background-color: #00210A;
  height: 15%;
  width: 90%;
  border-radius: clamp(10px, 2vw, 30px);
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.barre-camp-date{
  display: flex;
  align-items: center;
  background-color: #00210A;
  height: 15%;
  width: 90%;
  border-radius: clamp(10px, 2vw, 30px);
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.barre-camp-date p:not(.title-barre){
  font-size: 2.5vw;
  color: #ffffff;
  margin-bottom: 0 !important;
  line-height: 70%;
}

.barre-camp.date img{
  height: 2vw;
  margin-left: 0.1vw;
  margin-right: 1vw;
}

.barre-camp p:not(.title-barre){
  font-size: 2.5vw;
  color: #ffffff;
  margin-bottom: 0 !important;
  line-height: 70%;
}

.barre-camp img{
  height: 2vw;
  margin-left: 0.5vw;
  margin-right: 1vw;
}

.carte-adresse{
  width: 105%;
  height: 9vw;
  border-radius: clamp(10px, 2vw, 30px);
  margin-left: -2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.barre-camp.participants{
  display: none;
}

.participation{
  display: none;
}
.barre-camp.prix-2{
  display: none;
}

.title-barre{
  color: #ffffff;
  font-size: 1.5vw;
  margin-bottom: 0 !important;
  margin-left: 6%;
}


        /*carte cliqué*/


.carte-border.cliquée{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00210A;
  margin-bottom: 5%;
  width: 42.5vw;
  border-radius: clamp(10px, 2.5vw, 40px);
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  box-shadow: 0.5vw 0.5vw 0.3vw rgb(136, 133, 133);
  transition: all 0.3s ease;
}

.carte-border.cliquée{
  cursor: pointer;
}

.carte.cliquée{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #34693F;
  width: 97%;
  height: 26vw;
  border-radius: clamp(10px, 2vw, 30px);
  transition: all 0.3s ease;
}

.barre-camp.cliquée{
  display: flex;
  align-items: center;
  background-color: #00210A;
  height: 15%;
  width: 45%;
  border-radius: clamp(10px, 2vw, 30px);
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transition: all 0.3s ease;
}

.carte-camp.cliquée{
  width: 45%;
  transition: all 0.3s ease;
}

.carte-adresse.cliquée{
  width: 100%;
  height: 9vw;
  border-radius: clamp(10px, 2vw, 30px);
  margin-top: 3.5%;
  margin-bottom: 1.5%;
  margin-left: 0;
  transition: all 0.3s ease;
}

.barre-camp.cliquée.lieu{
  margin-top: 5%;
  transition: all 0.3s ease;
}

.barre-camp.cliquée.prix-1{
  display: none;
  transition: all 0.3s ease;
}

.barre-camp.cliquée.prix-2{
  display: flex;
  margin-top: 5%;
  transition: all 0.3s ease;
}

.barre-camp.cliquée.participants{
  margin-bottom: 6.6%;
  transition: all 0.3s ease;
}

.barre-camp.cliquée.date{
  margin-bottom: 5%;
  transition: all 0.3s ease;
}

.participation.cliquée{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 9vw;
  background-color: #00210A;
  border-radius: clamp(10px, 2vw, 30px);
  text-decoration:none;
  transition: all 0.3s ease;
}

.participation.cliquée p{
  text-align: center;
  text-decoration: none !important;
  font-size: 3.1vw;
  line-height: normal;
  margin-left: 0;
  transition: all 0.3s ease;
}

.barre-camp.cliquée p:not(.title-barre){
  font-size: 2.5vw;
  color: #ffffff;
  margin-bottom: 0 !important;
  line-height: 70%;
  transition: all 0.3s ease;
}

.barre-camp.cliquée img{
  height: 2vw;
  margin-left: 0.5vw;
  margin-right: 1vw;
  transition: all 0.3s ease;
}

.barre-camp.date.cliquée img{
  height: 2vw;
  margin-left: 0.1vw;
  margin-right: 1vw;
  transition: all 0.3s ease;
}


/* participation */

#carte-exterieure-participer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00210A;
  width: 45vw;
  border-radius: 1.7vw;
  padding: 0.8vw;
}

#carte-interieure-participer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #34693F;
  border-radius: 1vw;
  width: 43.47vw;
  
}

#info-camp{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
}

#bouton-retour-blanc{
  display: flex;
  width: 80vw;
  margin-left: 5%;
  margin-top: 5%;
}

.champ{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 17vw;
  height: 3.5vw;
  background-color: #00210A;
  border-radius: 5vw;
  margin-top: 2.5%;
}

#content-participer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 5%;
}

.champ p{
  color: white;
  font-size: 2vw;
  margin-bottom: 0.01vw;
}

.barre-participer{
  margin: 0 0.5vw;
}

.date-participer{
  width: 65%;
  line-height: 90%;
}

.carte-adresse-participer{
  width: 38.6vw;
  height: 9vw;
  margin-top: 2.5%;
  border-radius: 2vw;
}

#participants{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

#participants .titre-inscrire{
  font-size: 3vw;
  margin-right: 70%;
}

#form-participer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5.5%;
  width: 90%;
}

.coche-enfant{
  display: none;
}

.profil-participer{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 15vw;
  height: 3vw;
  background-color: #00210A;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 5%;
}

.initiale-participer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: white;
  margin: 0 5%;
}

.initiale-participer.cliqué{
  background-color: #E17909;
  transition: all 0.5s ease;
}

.lettreparticiper{
  font-size: 2vw;
  color:#00210A !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
}

.prenom-participer{
  display: flex;
  justify-content: center;
  margin-top: 6%;
  color: white;
  font-size: 1.5vw;
  width: 9vw;
  transition: all 0.5s ease;

}

.prenom-participer.cliqué{
  color: #E17909;
  transition: all 0.5s ease;
}

.button-participer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5vw;
  background-color:#00210A;
  border-radius: 1.5vw;
  border: none;
  margin-top: 5%;
  margin-left: 24vw;
  cursor: pointer;
  color: white;
  font-size: 2.7vw;
  transition: all 0.5s ease;

}

.button-participer:hover{
  color: #E17909;
  transition: all 0.5s ease;

}

/*informations*/

#content-info{
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  margin-bottom: 10%;
}

.forme-page{
  display: flex;
  width: 100vw;
}

ul {
  list-style-type: disc;
}

#programme-ferme{
  position: relative;
}

#haut-de-page-info{
  position: relative;
  z-index: 1;
}

#bouton-programme{
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 2;
  top: 17vw;
  left: 3.5vw;
  cursor: pointer;
}

.bouton-d-ouverture-de-texte{
  width: 2.5vw;
  transition: all 0.2s ease;
}

.titre-info{
  color: #ffffff;
  font-size: 5.5vw;
  letter-spacing: 0.1vw;
  margin-left: 4vw;
  margin-top: 0.7vw;
}

.texte-info{
  color: #ffffff;
  font-size: 1.5vw;
  margin-left: 4vw;
  margin-top: 1.5vw;
  width: 90%;
}

#texte-programme{
  display: none;
  width: 100vw;
  background-color: #34693F;
  margin-top: -1.5vw;
  transition: opacity 0.5s ease-in-out, height 1s ease-in-out;
}

.cliqué{
  display: block;
  transition: all 1s ease;
}

#conditions{
  width: 100vw;
  background-color: #34693F;
}

#bouton-conditions{
  display: flex;
  align-items: center;
  background-color: #34693F;
  cursor: pointer;
  margin-left: 3.5vw;
}

#texte-conditions{
  display: none;
  margin-top: -1vw;
  width: 90%;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}

#bas-de-page-info{
  position: relative;
  z-index: 1;
}

#tarifs2{
  position: relative;
  z-index: 2;
  margin-top: -25vw;
  width: 35vw;
  margin-bottom: 5vw;
}

/*footer*/

#footer{
  margin-top: 1%;
  height: 10vh;
}

#footer-nav {
  position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:2.2%;
}

#forme-footer{
  position: absolute;
  transform: scale(1.1);
  width: 92%;
  margin-left: 4vw;
  z-index: 1;
}

#footer-nav p{
  color: white;
}

#contact{
  font-size: clamp(20px,5vw,70px);
  z-index: 2;
  align-items: center;
  margin-left: 4vw;
}

#contact-data{
  z-index: 4;
  font-size: clamp(10px, 3.5vw, 40px);
  white-space: nowrap;
}

.telephone{
  margin: -3vh;
  margin-left: 15vw;
}

.mail{
  margin-top: 4vw;
  margin-left: 15vw;
}

.content-404, .content-profile{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-index h1{
    text-align: center;

}

.content-profile-title{
    display: block; 
    text-align:center;
}




