{% extends 'base.html' %}

{%block navbar_title %}
Organisation
{% endblock %}

{%block titre_barre%}
Connexion
{% endblock %}


{% block content %}
<div id="content-admin">
    <img id="forme-admin" src="{{url_for('static', filename='imgs/forme-page-user.svg')}}" alt="forme-page-user">
    <div id="menu-admin">
        <h2 id="title-admin" class="police-titre">Mes camps</h2>
        <div id="log-out">
            <a href="{{ url_for('auth.logout') }}">
                <img src="{{url_for('static', filename='imgs/symbole-log-out.svg')}}" alt="symbole de déconnexion">
                <p class="log-out-texte police-titre">Déconnexion</p>
            </a>
        </div>
        <div id="boutons-admin">
            <a href="{{ url_for('camp.camps') }}">
                <div class="carte-admin">
                    <p class="police-titre text-admin">Camps annoncés</p>
                </div>
            </a>

            <a href="{{ url_for('admin.publish') }}">
                <div class="carte-admin">
                    <p class="police-titre text-admin">Annoncer un camp</p>
                </div>
            </a>
        </div>
    </div>



</div>
{% endblock %}