<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header">
        <nav id="header-nav">
            <div id="header-nav-logo">
                <a href="{{url_for('home.landing_page')}}">
                    <img src="{{url_for('static', filename='imgs/logo-Starkids.svg')}}" alt="logo-starkids"/>
                </a>
            </div>
            <div id="header-nav-forme">
                <img src="{{url_for('static', filename='imgs/forme-haut-de-page.svg')}}" alt="forme du haute de page" id="header-nav-forme"/>
            </div>
            
            <ul id="header-nav-menu">
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li class="police-titre" id="camps"><a href="{{ url_for('auth.register') }}">Camps</a>
                    <li class="police-titre" id="informations"><a href="{{ url_for('auth.login') }}">Informations</a>
                    <li class="police-titre" id="a propos"><a href="{{ url_for('auth.login') }}">A propos</a>
                    <li class="police-titre" id="mon compte"><a href="{{ url_for('auth.login') }}">Mon Compte</a>
                {% else %}
                    <li class="police-titre" id="camps"><a href="{{ url_for('auth.register') }}">Camps</a>
                    <li class="police-titre" id="informations"><a href="{{ url_for('auth.login') }}">Informations</a>
                    <li class="police-titre" id="a propos"><a href="{{ url_for('auth.login') }}">A propos</a>
                    <li class="police-titre" id="connexion"><a href="{{ url_for('auth.login') }}">Connexion</a>
                {% endif %}
            </ul>
            <div class="police-titre-bold" id="header-titre">{% block titre_barre %}{% endblock %}</div>
        </nav>
    </header>
        
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <div id="footer-nav">
            <div id="contact">
                <p class="police-titre" id="contact-titre">Contacts:</p>
            </div>
            <div id="contact-data">
                <div class="police-titre" id="telephone">
                    <p>Par téléphone au +41 77 415 59 73</p>
                </div>
                <div class="police-titre" id="email">
                    <p>Par email à Starkids.contact@gmail.com</p>
                </div>
            </div>
            <img id="forme-footer" src="{{url_for('static', filename='imgs/forme-footer.svg')}}" alt="forme bas de page"/>
        </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>